*{
  background-color:#1D2B53;
  font-size: 16px;
  box-sizing: border-box;
}

.main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whole-thing{
  background-color: #FAEF5D;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  margin-top: 5%;
  border-radius: 5px;
}

.form{
  margin-top: 20px;
  background-color: #FAEF5D;
  
}
.form input{
  width: 250px;
  height: 2.5em;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 5px 0px 0px 5px;
}

.form button{
  background-color: #FF004D;
  border: none;
  outline: none;
  height: 2.5em;
  width: 4em;
  border-radius: 0px 5px 5px 0px;
  color: white;
  transition: all linear 0.2s;
}

.form button:hover{
  background-color: #d80b49;
  cursor: pointer;
  transition: all linear 0.2s;
}

.list{
  width: 68%;
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
  margin-top: 10px;
  background-color: #8e4269;
  border-radius: 5px;
}

.list p{
  background-color: transparent;
  padding-left: 10px;
  color: white;
}

.icon{
  background-color: transparent;
  color: white;
  transition: all linear 0.2s;
}

.icon:hover{
  color: red;
  transition: all linear 0.2s;
  cursor: pointer;
}

.delete-all{
  margin: 20px;
  background-color:#FAEF5D;
}

.btn{
  background-color: #FF004D;
  border: none;
  outline: none;
  height: 2.5em;
  width: 6em;
  border-radius: 5px;
  color: white;
  transition: all linear 0.2s;
  
}

.btn:hover{
  background-color: #d80b49;
  cursor: pointer;
  transition: all linear 0.2s;
}
